fastapi==0.141.1
uvicorn==0.52.0
pydantic==2.13.4
python-dotenv==1.1.1
# python-multipart==0.0.32

sqlalchemy==2.0.51
# psycopg2-binary==2.9.10
alembic==1.13.3


asyncpg==0.31.0
pydantic-settings==2.14.2
pydantic-core==2.46.4
